/NetbeansProject/jrlib/target/
/NetbeansProject/jrlib2/target/
/NetbeansProject/GRScript/target/
/NetbeansProject/grscript-gui/script/target/
/NetbeansProject/grscript-gui/groovy/target/
/NetbeansProject/grscript-gui/grscript-wrapper/target/
/NetbeansProject/grscript-gui/script-explorer/target/
/NetbeansProject/grscript-gui/script-functions/target/
/NetbeansProject/grscript-gui/script-function-explorer/target/
/NetbeansProject/grscript-gui/script-executor/target/